<br>
<br>
<div id="logindiv">

<div class="login-container">
    <!-- <h1>Welcome Back</h1> -->
    <img src="Images/loginlogo.png" alt="User Logo" class="user-logo">
    <h6>Client</h6>
    <form (ngSubmit)="restData.clientloginDetails(loginForm)" #loginForm="ngForm">
      <br>
      <input type="username" placeholder="Username" required ngModel name="userName">
      <br>
      <input type="password" placeholder="Password" required ngModel name="userPassword">
      <br>
      <br><button type="submit">Login</button>
    </form>
  </div>
 
</div>

<router-outlet></router-outlet>